<reasoner>
	<question interface="es.us.isa.FAMA.Reasoner.questions.ProductsQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoProductsQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.ValidQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoValidQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.SetQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoSetQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.NumberOfProductsQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoNumberOfProductsQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.FilterQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoFilterQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.CommonalityQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoDefaultCommonalityQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.ValidProductQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoValidProductQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.ValidConfigurationQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoValidConfigurationQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.DetectErrorsQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoDetectErrorsQuestion"/>
	<question interface="es.us.isa.FAMA.Reasoner.questions.VariabilityQuestion" class="es.us.isa.Choco2Reasoner.questions.ChocoVariabilityQuestion"/>
</reasoner>